*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/homebk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/**contine logo, search-box, meniu(link-uri)**/
header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 30px;
    background-color: rgb(33, 66, 55);
}

/**optiune meniu vertical -> vizibila doar cand dimensiunile ferestrei devin prea mici**/
header .menu {
    display: none;
}

#expand {
    display: none;
}

header .logo {
    flex: 1;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-size: 30px;
}

/** search box-ul are 2 componente: input si button **/
header .search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 15px;
}

.search-box button {
    color: black;
    background: rgba(55, 70, 87, 0.644);
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    right: 0;
}

header ul {
    display: flex;
    flex: 3;
    justify-content: space-around;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    padding: 5px 5px;
    font-family: 'Segoe UI';
    color: aliceblue;
    font-size: 20px;
    border-bottom: 4px solid rgb(3, 48, 2);
    transition: all .2s;
}

header ul li a:hover {
    border-bottom: 4px solid rgb(3, 48, 2);
    background-color: rgb(122, 122, 129);
    color: black;
    border-radius: 15px;
}


/**Daca fereastra <= 800px, reformatare**/
@media(max-width:800px) {
    .search-box button {
        position: absolute;
    }

    header ul {
        position: fixed;
        width: 25%;
        height: 100vh;
        top: 70px;
        left: 100%;
        text-align: center;
        flex-direction: column;
        background-color: rgb(138, 138, 138);
        opacity: 0.5;
        transition: all .5s;
    }

    header ul li {
        display: block;
    }

    header ul li a {
        font-size: 20px;
        color: white;
        font-family: 'Segoe UI';
    }

    header .menu {
        display: block;
        margin: 5px 5px;
    }

    #expand:checked~ul {
        left: 75%;
    }
}

.sidebar-container {
    position: fixed;
    margin-top: 90px;
    width: 150px;
    height: 70%;
    background-color: rgb(49, 80, 70);
    box-shadow: 0 0 20px;
}

.sidebar {
    /*stretch content*/
    flex: 1 1 0;
    padding: 10px 10px;
    text-align: center;
}

.sidebar h2 {
    background-color: rgb(33, 66, 55);
    font-family: sans-serif;
}

.sidebar .filters .filter {
    display: block;
    padding: 10px;
    margin: 5px 5px;
    text-decoration: none;
    color: white;
    transition: all .2s;
    font-size: 20px;
    border-bottom: 2px solid rgb(3, 48, 2);
}

.sidebar .filters .filter:hover {

    color: black;
    border-radius: 15px;
}
