img {
  max-width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.product-info {
  width: -webkit-calc(100% - 630px);
  width: calc(100% - 630px);
}


li,
ul {
  list-style: none;
}

.wrapper {
  min-width: 320px;
  max-width: 1220px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  color: #fffef2;
  font-family: "Tenor Sans";
  text-transform: capitalize;
  font-weight: 400;
}

h2 {
  font-size: 54px;
  line-height: 54px;
  color: #fffef2;
  font-family: "Tenor Sans";
  text-transform: capitalize;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  line-height: 56px;
  color: #fffef2;
  font-weight: 400;
  font-family: "Tenor Sans";
  text-transform: capitalize;
}

.btn {
  height: 60px;
  line-height: 59px;
  outline: 0;
  border: none;
  background: #5d5d5d;
  padding: 0 50px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-family: Lato;
}

.btn:hover {
  background: #4666db;
}

.btn-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 0;
}

.btn-icon i {
  margin-right: 12px;
  font-size: 17px;
}

.btn-grey {
  background: #5b5959;
  color: #fffef2;
}

.btn-grey:hover {
  color: #eee;
  background: #e44260;
  border-color: #fffef2;
}

.star-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.star-rating li {
  width: 13px;
}

.star-rating li i {
  color: #cfc819;
  font-size: 13px;
}

.product {
  padding-top: 100px;
}

.product-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-stock {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  line-height: 170%;
  text-transform: uppercase;
  color: #f2a45f;
  font-weight:bold;
}

.product-price {
  margin-top: 30px;
  color: #fffef2;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  display: block;
  margin-bottom: 31px;
}

.product-options {
  margin-top: 46px;
  padding-top: 45px;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-product {
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.button-product .btn {
  margin-right: 11px;
  padding: 0 49px;
}

.button-product .btn i {
  margin-right: 10px;
}

.product-detail {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.product-detail h2 {
  font-size: 36px;
}

.product-detail h3 {
  font-size: 28px;
}

.product-detail__items {
  width: -webkit-calc(100% - 470px);
  width: calc(100% - 470px);
}

.product-reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.review-item {
  margin-bottom: 19px;
  border: 1px solid #eee;
  background-color: rgb(71, 71, 71);
  padding: 40px 38px 34px;
  padding-bottom: 39px;
}

.review-item__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.review-item__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.review-item__author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.review-item__name {
  font-size: 16px;
  color: #fffef2;
  margin-right: 40px;
  position: relative;
}

.review-item__name:after {
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 10px;
  background-color: #eee;
}

.review-item__date {
  color: #999;
  font-size: 14px;
  position: relative;
}

.review-item__date:after {
  position: absolute;
  right: -29px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 10px;
  background-color: #eee;
}

.review-item__rating {
  margin-left: 49px;
}

.review-item__content {
  margin-top: 19px;
  color: #fffef2;
  font-size: 16px;
  line-height: 170%;
}

.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.rating i {
  font-size: 18px;
  margin-right: -1px;
  display: block;
  position: relative;
  color: #fff;
  cursor: pointer;
  font-family: icomoon;
}

.rating i.active {
  color: #cfc819;
}

.btn-next i {
  margin-left: 10px;
  margin-right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


@media screen and (min-width: 1600px) {
  .main-text {
    margin-bottom: 25px;
    margin-top: 0;
  }
}


@media screen and (max-width: 1200px) {
  .product-slider {
    width: 480px;
  }
  .product-info {
    width: -webkit-calc(100% - 520px);
    width: calc(100% - 520px);
  }
  .product-detail__items {
    width: -webkit-calc(100% - 390px);
    width: calc(100% - 390px);
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }

  .product-slider__main-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p {
    font-size: 15px;
  }
  h2 {
    font-size: 51px;
  }
  .main-text {
    font-size: 83px;
  }
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
  .product {
    padding-top: 110px;
  }
  .product-content {
    flex-direction: column;
  }
  .product-slider {
    width: 100%;
  }
  .product-info {
    width: 100%;
    margin-top: 40px;
  }
  .product-reviews {
    flex-direction: column;
  }
  .product-detail__items {
    width: 100%;
  }
  
  h4 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-text {
    font-size: 58px;
  }
  h2 {
    font-size: 32px;
    line-height: 34px;
  }
  h4 {
    font-size: 28px;
  }
  h1 {
    font-size: 55px;
    line-height: 58px;
  }
  .btn-icon {
    justify-content: center;
  }
  .product {
    padding-top: 60px;
  }
  .product-stock {
    margin-top: 10px;
  }
  .product-price {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .product-price span {
    font-size: 16px;
  }
  .product-options {
    margin-top: 25px;
    padding-top: 20px;
    flex-direction: column;
  }
  .button-product {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .button-product .btn {
    width: 100%;
  }
  .button-product .btn:first-of-type {
    margin-bottom: 10px;
  }
  .review-item {
    padding: 15px;
    margin-bottom: 15px;
  }
  .review-item__head {
    flex-wrap: wrap;
  }
  .review-item__author {
    width: 100%;
  }
  .review-item__name {
    margin-right: 0;
  }
  .review-item__author img {
    margin-right: 15px;
  }
  .review-item__date {
    margin-left: auto;
    width: 150px;
    text-align: right;
  }
  .review-item__rating {
    margin-top: 0;
    text-align: right;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-end;
    display: flex;
    
  }
  .review-item__content {
    margin-top: 10px;
  }
  .review-item__date:after,
  .review-item__name:after {
    display: none;
  }

  .product-slider__main img {
    height: 630px;
  }
  .product-slider__nav-item {
    height: 152px;
  }
  .title5,
  h5 {
    line-height: 115%;
  }
}

@media screen and (max-width: 480px) {
  .product-slider__main img {
    height: 350px;
  }
  .product-slider__nav-item {
    height: 80px;
  }
}
